/* Print style sheet for SVG 1.1 Second Edition, designed to be used with Prince. */

@font-face { font-family: "Linux Libertine"; src: url(LinLibertine_Re-4.1_.8_.ttf); }
@font-face { font-family: "Linux Libertine"; font-weight: bold; src: url(LinLibertine_Bd-4.0_.2_.ttf); }
@font-face { font-family: "Linux Libertine"; font-style: italic; src: url(LinLibertine_It-4.0_.3_.ttf); }
@font-face { font-family: "Linux Libertine"; font-weight: bold; font-style: italic; src: url(LinLibertine_BI-4.0_.3_.ttf); }

@font-face { font-family: "Luxi Sans"; src: url(luxisr.ttf); }
@font-face { font-family: "Luxi Sans"; font-weight: bold; src: url(luxisb.ttf); }
@font-face { font-family: "Luxi Sans"; font-style: italic; src: url(luxisri.ttf); }
@font-face { font-family: "Luxi Sans"; font-weight: bold; font-style: italic; src: url(luxisbi.ttf); }

@font-face { font-family: "Bitstream Vera Sans Mono"; src: url(VeraMono.ttf); }
@font-face { font-family: "Bitstream Vera Sans Mono"; font-weight: bold; src: url(VeraMoBd.ttf); }
@font-face { font-family: "Bitstream Vera Sans Mono"; font-style: italic; src: url(VeraMoIt.ttf); }
@font-face { font-family: "Bitstream Vera Sans Mono"; font-weight: bold; font-style: italic; src: url(VeraMoBI.ttf); }

@page {
  size: letter;
  padding: 0;
  margin: 1.25in 1in 2in 1.25in;
  background: url(logo-PR-v.svg);
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  font: 10pt/13pt "Linux Libertine", serif;
  background: transparent;
  margin: 0;
  padding: 0;
  hyphens: auto;
  prince-hyphenate-lines: 2;
  text-align: justify;
  orphans: 1;
  widows: 2;
  font-variant: prince-opentype(calt, liga);
}

h1, h2, h3, h4, h5, h6, th, td, table.vert th, table.vert td { font-family: "Luxi Sans", sans-serif }
th, td, table.vert th, table.vert td { font-size: 8.5pt }

h1 { font: 19pt/24.7pt "Luxi Sans", sans-serif }

.head dt { margin-top: 6.5pt }
.head .authornote { font-size: 80%; float: right; prince-text-replace: "(" "" ")" "" }
.copyright { float: bottom; margin: 0; font-size: 85% !important }
.head dl { margin: 2em 0; prince-text-replace: "<" " · " ">" "" }
.head + hr { display: none }
abbr, acronym { text-decoration: none }

a:link { text-decoration: none }
a:link, a:visited { color: navy }

#abstract { page-break-before: always }

p { margin: 0 }
p + p { text-indent: 2em }

.head p,
#status + p + p,
pre + p,
.view-as-svg + p,
.filterformula + p,
p.normativity + p
{ text-indent: 0; margin-top: 13pt }

#minitoc-section { display: none }

.url { font: 8.5pt "Luxi Sans", sans-serif }

hr.chapter-divider { height: 0; visibility: hidden; page-break-after: always }

#chapter-expanded-toc h1 { prince-text-replace: "Expanded" "" }
#chapter-expanded-toc h1 + ul { display: none }

#chapter-expanded-toc ul { list-style-type: none; margin: 0 }
#chapter-expanded-toc > ol ul { margin: 0; margin-left: 2em !important; }
#chapter-expanded-toc > ol { margin-left: 0; font-variant: prince-opentype(lnum) }
#chapter-expanded-toc > ol > li { margin-top: 13pt !important; }
#chapter-expanded-toc > ol > li > ul { page-break-before: avoid }
#chapter-expanded-toc > ol > li > a { font-weight: bold; }

h2 + ul.toc,
h2 + ul.toc ul.toc { margin: 0 0 0 2em !important; font-variant: prince-opentype(lnum) }

/* #chapter-expanded-toc ul li.front-toc > a::after { font-weight: normal; content: leader('. ') target-counter(attr(href), page, lower-roman); } */
#chapter-expanded-toc ul a::after                { font-weight: normal; content: leader('. ') target-counter(attr(href), page) }

code, tt, pre, pre.idl, pre.xml, pre.svgsamplecompressed, pre.dtd-fragment, #chapter-svgdtd pre, .adef, .filterformula { font: 8pt Bitstream Vera Sans Mono, monospace }
pre.idl, pre.xml, pre.svgsamplecompressed, pre.dtd-fragment, #chapter-svgdtd pre  { overflow: hidden; white-space: pre-wrap; font-size: 6pt }

ul, ol, table { margin: 13pt 0 13pt 2em }
dl { margin: 13pt 0 }
dl.definitions > dt { display: run-in }
dl.definitions > dt:after { content: " · " }
dl.definitions > dd { margin-left: 0; margin-top: 13pt }

dl.interface dl.exceptions > dt,
dl.interface dl.attributes > dt,
dl.interface dl.operations > dt,
dl.interface dl.constants > dt,
dl.interface ol.parameters,
dl.interface ol.parameters > li { margin-left: 0; padding-left: 0 }

dl.interface ol.parameters .parameter::after { content: "" }
dl.interface dl.exceptions > dd { margin-top: 0 }
dl.interface ol.parameters > li { margin-bottom: 1em }

dl.interface dl.exceptions > dt::marker,
dl.interface dl.attributes > dt::marker,
dl.interface dl.operations > dt::marker,
dl.interface dl.constants > dt::marker,
dl.interface ol.parameters > li::marker { padding-right: 0.5em }

.expanding { display: none }

.element-summary { margin-bottom: 13pt }
.element-summary dl,
.element-summary ul { margin-top: 0; margin-bottom: 0; margin-left: 0 }
.element-summary > dl > dt:first-child + dd + dt + dd ul { margin-left: 2em }

.adef-list { margin-top: 13pt }

.view-as-svg { display: none }

table[summary="Example ViewBox"] { page-break-inside: avoid }

ul > li > ul,
ul > li > ol,
ol > li > ul,
ol > li > ol { margin-top: 0; margin-bottom: 0 }
.propdef table { margin: 0 }
.propdef table th { vertical-align: top }

.event-table p { margin-top: 0 }
.event-table p.event-name + p { text-indent: 0 }

.vardefs { margin-left: 2em }

tr { page-break-after: avoid }

.adef-list > p:first-child + dl { page-break-before: avoid }

p.normativity { margin-top: 13pt }

table td, dl.references, #chapter-feature dl { hyphens: none; text-align: left }

table.property-table td, table.property-table th { font-size: 6.5pt }
