/*
 * Style sheet for the SVG 2 specification,
 * to be used in addition to http://www.w3.org/StyleSheets/TR/2016/W3C-{WD,PR,REC}
 */

/* annotations, not intended for final publication */

div.annotation {
  text-indent: 0;
  margin-bottom: 0;
  margin-top: 1em;
}

div.annotation > p:first-child {
  margin-top: 0;
}

p.annotation, div.annotation {
  padding: 0.5em;
  border-left-width: 0.5em;
  border-left-style: solid;
  border-color: #C752E0;
  background: #F8E9FB;
  counter-increment: annotation;
}

p.annotation::before, div.annotation::before {
  content: "Annotation " counter(annotation);
  padding-right: 1em;
  text-transform: uppercase;
  color: #C752E0;
}

span.annotation { color: purple; }

/* SVG 2 requirements within annotations */

.svg2-requirement table { border-collapse: collapse; width: 100% }
.svg2-requirement table th { font-weight: normal; font-style: italic; padding-right: 1em; white-space: nowrap; width: 1px }
.svg2-requirement tr:first-child td,
.svg2-requirement tr:first-child th { font-weight: bold; font-style: normal; border-top: none }
.svg2-requirement table th, .svg2-requirement table td { text-align: left; vertical-align: baseline; border-top: 1px solid #D398E0; padding: 0.5em }

/* element, attribute and property name and value styling */

.element-name, .element-name > a > span, .attr-name, .attr-name > a > span {
  font-weight: bold;
}
.element-name, .attr-name {
  font-size: 90%
}
.element-name > a, .attr-name > a {
  color: black;
  font-weight: normal;
}
.element-name, .element-name > a > span {
  color: #A52A2A;
}
.attr-name, .attr-name > a > span {
  color: #2A2AA5;
}
.attr-value, .prop-value {
  font-weight: bold;
  font-size: 90%
}

/* element summary boxes */

.element-summary { 
	border-color: #52A7E0;
	background: #E9F4FB;
	padding: .5em;
	border-left-width: .5em;
	border-left-style: solid;
	margin-top: 1em;
}
.element-summary-name { font-size: 150%; margin-bottom: 0.5em;}
.element-summary-name dfn { font-style: normal; }
.element-summary dl, .element-summary dt { margin-top: 0; margin-bottom: 0; }
.element-summary * + dt { margin-top: 0.5em; }
.element-summary dd { margin-top: 0; }
.element-summary ul.no-bullets { list-style: none; margin-left: 0; padding-left: 0 }
.element-summary ul.no-bullets li { padding-left: 2em; text-indent: -2em; }
.expander { 
  color: #888;
  text-decoration: underline;
  cursor: pointer;
  font-size: 85%;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}
.expander:active { color: #C00 }
.expander:hover { background: #ffa }
.expander:after { margin-left: .2em; content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAARVBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIgZ92ePAAAAF3RSTlMAAQIGBwgQGBkbHB00R3iCo6WoyMzO9cBRxjsAAAA7SURBVAgdBcEJAkAwDACwoIwxZ/n/UyUAYC/uAMYsNQMY33nJAKZv2BJ0V4us0J0t3gqO5lmBnh4A4AdkpwGwmaD7sQAAAABJRU5ErkJggg==); }

/* attribute definition boxes */

dl.attrdef-list dl { margin-top: 1em }
dl.attrdef-list > dt { font-weight: normal }

table.attrdef { border-left-color: #888; border-left-width: 0; background-color: #eee; font-size: 90% }
table.attrdef th, table.attrdef td { border-bottom-color: #ccc !important; }

table.attrdef th:first-child,
table.attrdef td:first-child { width: 16em; padding-left: 0 !important }

table.attrdef th:first-child + th,
table.attrdef td:first-child + td { width: auto }

table.attrdef th:first-child + th + th,
table.attrdef td:first-child + td + td { width: 6em }

table.attrdef th:first-child + th + th + th,
table.attrdef td:first-child + td + td + td { width: 6em; padding-right: 0 !important }

table.attrdef th, table.attrdef def { padding-left: 0.5em !important; }

.attrdef th { white-space: nowrap; }

/* IDL blocks */

pre.idl { background: #d9e8ff; color: black; padding: 1em; margin-top: 1em; margin-left: 0; font-size: 1em; overflow: auto; font-size: 14px }
pre.idl a:link, pre.idl a:visited { color: black; }
pre.idl .comment { color: #005A9C; }
pre.idl var { color: orangered; font-weight: bold; }

/* definition lists */

dl.definitions > dt,
.adef-list dl > dt { margin-top: 1em; }

dl.definitions > dt + dt,
.adef-list dl > dt + dt { margin-top: 0; }

dl.definitions > dd > :first-child,
.adef-list dl > dd > :first-child { margin-top: 0; }

dl.definitions > dt > dfn { font-style: normal; font-weight: bold; }

/* header/footer with links to next/previous chapter, etc. */
.header { font-size: 75%; margin-top: 1em; white-space: nowrap; }

/* put more space around the chapter dividers (in the single page version) than
   there is around section headings */

.chapter-divider { margin: 4em 0 }

/* display the list of old editors in the Acknowledgements section similarly
 * to how the current editors appear at the top of the document */

ul.old-editor-list { list-style-type: none !important }
ul.old-editor-list > li { margin: 0; }
.authornote { font-size: 80% }

/* HTML-equivalent math for ATs */

div[role="math"] > :last-child {
  position: absolute;
  width: 400px;
  left: -10000px;
  overflow: hidden;
}

/* a border to be used around images */

.bordered { border: 1px solid #888; background-color: white }

/* column-oriented tables */

table.vert {
  border-collapse: collapse;
  border-top: 2px solid #005a9c;
  border-bottom: 2px solid #005a9c;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
table.vert td {
  background: #f0f6ff;
}
table.vert th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #005a9c;
  white-space: nowrap;
  color: #d9e8ff;
  background: #005a9c;
}
table.vert.compact { font-size: 90% }
table.vert.compact td, table.vert.compact th { padding: 2px 8px }
table.vert th a:link,
table.vert th a:visited { color: #d9e8ff; }
table.vert th a:hover { color: black; }
table.vert th, table.vert td { padding: 0.5em 0.75em; }
table.vert th .attr-name { color: white }
table.vert th a:hover .element-name { color: #2A2AA5 }
table.vert th .prop-name { color: white }
table.vert th a:hover .element-name { color: black }
table.vert th .element-name { color: white }
table.vert th a:hover .element-name { color: #A52A2A }
table.vert td { vertical-align: top; border-top: 1px solid #005a9c; border-top-color: rgb(127, 172, 206) } 
table.offset { margin-left: 2em; margin-right: 2em; }
table.graph > tbody > tr > td { vertical-align: top }
table.graph > tbody > tr > td { padding-right: 1em }

/* self-links to sections, issues, etc. */

.heading, li, dt, .issue { position: relative; }
a.self-link { position: absolute; top: 0; left: -2em; width: 2em; text-align: center; border: none !important; transition: opacity .2s; opacity: .3; text-decoration: none; }
a.self-link:hover { opacity: 1; background: transparent !important; }
.heading > a.self-link, .issue > a.self-link { font-size: 83%; }
.heading > a.self-link::before,
.issue > a.self-link::before { content: "§"; }
.issue > a.self-link { top: 0.625em; left: -3em; }

/* issues */

p.issue:before, div.issue:before { content: "(Issue " counter(issue) ")"; }
p.issue[data-issue], div.issue[data-issue] { counter-increment: none; }
p.issue[data-issue]:before, div.issue[data-issue]:before { content: "Issue " attr(data-issue); }
p.issue + div.issue, div.issue + div.issue { margin-top: 1em; }
.issue { overflow: visible !important; }

/* path command definition tables */

table.PathDataTable { border-spacing: 2px; border-style: outset; border-width: 1px }
table.PathDataTable td,
table.PathDataTable th { padding: 5px; border-style: inset; border-width: 1px }
table.PathDataTable td > p:first-child { margin-top: 0; }

/* property and attribute appendix tables */

table.proptable { font-size: small; border-collapse: collapse; border-spacing: 0; text-align: left; margin: 1em 0; }
table.proptable td, table.proptable th { padding: 0.4em; text-align: center; }
table.proptable tr:hover td { background: #DEF; }
table.proptable tbody td:first-child { white-space: nowrap }
table.proptable tbody td .property { display: inline; font-weight: normal }
.proptable thead { border-bottom: 2px solid }
.proptable tbody { border-bottom: none }
.proptable tbody th:first-child,
.proptable tbody td[scope="row"]:first-child {
  border-right: 2px solid;
  border-top: 1px solid silver;
}
.proptable tbody td {
  border-top: 1px solid silver;
}
.proptable tbody th + td {
  min-width: 15em;
}
.proptable th:first-child { text-align: right; }

table.attrtable tbody td:first-child { white-space: normal }
.attrtable tbody td, .attrtable tbody th { vertical-align: baseline }
.attrtable thead th:first-child + th, .attrtable tbody th + td { text-align: left }

/* miscellaneous */

var { font-style: italic; }
sub { font-size: 80%; }
#toc .property { color: #034575; }
table > caption { caption-side: bottom }
.definition { margin-left: 2em; margin-top: 1em }
.indented { margin-left: 2em; }
.separated { word-spacing: 1em; }
.math var, .math sub, .math sup { font-family: serif; }
.syntax { font-weight: bold; font-size: 80%; }
a.html { color: orangered; }

/* Now we're in CR, most working group review will happen in Pull Requests.
 * But changes still need to be noted in the Changes appendix.
 * Wrap new changes in a <div> with the `changed-since-cr1` class.
 * Add `cr2` class for changes since August re-publication.
 */
.changed-since-cr1 {
  /* Reviewed by WG in a PR, ready for wider review. */
  background-color: #FBFBB6 !important;
  border-radius: 1em 0 0 0;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}

.changed-since-cr1::before {
  content: ' Changed since 15 September 2016 CR ';
  display: inline-block;
  margin-left: -16px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: orange !important;
  border-radius: 1em 0;
}
.changed-since-cr1.cr2::before {
  content: ' Changed since 7 August 2018 CR ';
}


/* XXX styles below to be removed once attribute definition tables in
 *     pservers.html and text.html have been updated to the style used in the
 *     rest of the specification */

.adef { font-size: 14px; }

.attrdef-svg2, .propdef-svg2 {
  background: #E9F4FB;
  overflow: auto;
  margin-top: 2px;
}

.attrdef-svg2 dt, .propdef-svg2 dt {
  font-style: italic;
  font-weight: normal;
  float: left;
  clear: left;
  width: 8em;
  margin: 2px;
}

.attrdef-svg2 dt:after, .propdef-svg2 dt:after {
  content: ":"; 
}

.attrdef-svg2 dd, .propdef-svg2 dd {
  margin: 2px 0; /* Override default.css */
}

.attrdef-values dt, .propdef-values dt {
  font-weight: bold;
  font-size: 90%;
  margin-top: 2px;
}
