<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional+edit//EN" "xhtml1-transitional+edit.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:edit="http://xmlns.grorg.org/SVGT12NG/">
<head>
  <title>Full Title of Specification</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" title="Default" type="text/css" href="style/default_svg.css"/>
  <link rel="alternate stylesheet" title="No issues/annotations" type="text/css" href="style/default_no_issues.css"/>
</head>
<body>

<div class="head">
  <p><a href="https://www.w3.org/"><img height="48" width="72" alt="W3C" src="https://www.w3.org/Icons/w3c_home"/></a></p>
  <h1 id="pagetitle">Full Title of Specification</h1>
  <h2 id="pagesubtitle">W3C <edit:maturity/> <em><edit:date/></em></h2>
  <dl>
    <dt>This version:</dt>
    <dd><edit:thisversion/></dd>
    <dt>Latest version:</dt>
    <dd><edit:latestversion/></dd>
    <edit:includelatesteditorsdraft/>
    <!--
    <dt>Previous version:</dt>
    <dd><edit:previousversion/></dd>
    -->
    <dt>GitHub repository:</dt>
    <dd><a href="https://github.com/w3c/svgwg/">https://github.com/w3c/svgwg/</a></dd>
    <dt>Public comments:</dt>
    <dd><a href="mailto:www-svg@w3.org" class='url'>www-svg@w3.org</a> (<a href="https://lists.w3.org/Archives/Public/www-svg/">archive</a>)</dd>
    <dt class="top-editors">Editors:</dt>
    <dd>Aaron Aardvark, Acme, Inc. &lt;<a href="mailto:aaron.aadvark@acme.com" class='url'>aaron.aardvark@acme.com</a>&gt;</dd>
  </dl>
  <edit:copyright/>
</div>

<hr/>

<h2 id="abstract">Abstract</h2>

<p class="issue">Abstract goes here.</p>

<h2 id="status">Status of This Document</h2>

<p><em>This section describes the status of this document at the time of its
publication. Other documents may supersede this document. A list of current W3C
publications and the latest revision of this technical report can be found in
the <a href="https://www.w3.org/TR/">W3C technical reports index</a> at https://www.w3.org/TR/</em>.</p>

<p>This document is the <edit:date/> <strong><edit:maturity/></strong> of <edit:shorttitle/>.
<span class="issue">Custom SotD information goes here.</span></p>

<p>Comments on this <edit:maturity/> are welcome.
Comments can be sent to <a href="mailto:www-svg@w3.org" class='url'>www-svg@w3.org</a>,
the public email list for issues related to vector graphics on the Web. This list is
<a href="https://lists.w3.org/Archives/Public/www-svg/">archived</a> and
senders must agree to have their message publicly archived from their
first posting. To subscribe send an email to
<a href="mailto:www-svg-request@w3.org" class='url'>www-svg-request@w3.org</a> with
the word <code>subscribe</code> in the subject line.</p>

<p>This document has been produced by the
<a href="https://www.w3.org/Graphics/SVG/WG">W3C SVG Working Group</a> as part of
the <a href="https://www.w3.org/Graphics/Activity">Graphics Activity</a> within
the <a href="https://www.w3.org/Interaction/">W3C Interaction Domain</a>. The
goals of the W3C SVG Working Group are discussed in the
<a href="https://www.w3.org/Graphics/SVG/svg-2019.html">W3C SVG Charter</a>. 
The W3C SVG Working Group maintains a public Web page,
<a href="https://www.w3.org/Graphics/SVG/" class='url'>https://www.w3.org/Graphics/SVG/</a>,
that contains further background information. The authors of
this document are the SVG Working Group participants.</p>

<p>This document was produced by a group operating under the
<a href="https://www.w3.org/Consortium/Patent-Policy-20040205/">5 February 2004 W3C Patent Policy</a>. 
W3C maintains a <a rel="disclosure" href="https://www.w3.org/2004/01/pp-impl/19480/status">public list of any patent disclosures</a>
made in connection with the deliverables of the group; that page also includes
instructions for disclosing a patent. An individual who has actual knowledge of
a patent which the individual believes contains
<a href="https://www.w3.org/Consortium/Patent-Policy-20040205/#def-essential">Essential Claim(s)</a>
must disclose the information in accordance with
<a href="https://www.w3.org/Consortium/Patent-Policy-20040205/#sec-Disclosure">section 6 of the W3C Patent Policy</a>.</p>

<p>Publication as a Working Draft does not imply endorsement by the W3C Membership.
This is a draft document and may be updated, replaced or obsoleted by other documents
at any time. It is inappropriate to cite this document as other than work in progress.</p>

<p>A list of current W3C Recommendations and other technical documents can be found at
<a href="https://www.w3.org/TR/" class='url'>https://www.w3.org/TR/</a>. W3C publications
may be updated, replaced, or obsoleted by other documents at any time.</p>

<nav id="toc">
  <h2 class="no-num no-toc no-ref" id="contents">Table of Contents</h2>
  <edit:fulltoc/>
  <script src="https://www.w3.org/scripts/TR/2016/fixup.js"></script>
</nav>

<h2 id="Introduction">Introduction</h2>

<p>SVG includes many elements, including the <a>'rect'</a> element. …</p>

</body>
</html>
