build/
buildspecs/integration/build/
buildspecs/template/build/
master/issue-state.txt
specs/animations/master/issue-state.txt
specs/integration/master/issue-state.txt
specs/markers/master/issue-state.txt
specs/paths/master/issue-state.txt
specs/strokes/master/issue-state.txt
