/*
 * Style sheet for the SVG 2 specification,
 * to be used in addition to http://www.w3.org/StyleSheets/TR/W3C-{WD,PR,REC}
 * References the CSS3 style sheet.
 */

@import url(default.css);

/* Copy note for use with annotation. */
div.annotation {
	text-indent: 0;
	margin-bottom: 0;
	margin-top: 1em
}

.annotation> p:first-child {
	margin-top: 0
}

p.annotation, div.annotation {
	padding: .5em;
	border-left-width: .5em;
	border-left-style: solid;
}

/* Class annotation is list of annotations; not intended for a final publication. */
p.annotation, div.annotation {
	border-color: #C752E0;
	background: #F8E9FB;
	counter-increment: annotation;
}

p.annotation:before, div.annotation:before {
	content: "Annotation " counter(annotation);
	padding-right: 1em;
	text-transform: uppercase;
	color: #C752E0;    
}

span.annotation { color: purple; }


/* Imported from svg-style.css */
.code-fragment {
    color: #A52A2A;
    font-weight: bold;
    font-size: 90%
}
.element-name, .element-name > a > span, .attr-name, .attr-name > a > span {
    font-weight: bold;
}
.element-name, .attr-name {
    font-size: 90%
}
.element-name > a, .attr-name > a {
    color: black;
    font-weight: normal;
}
.element-name, .element-name > a > span {
    color: #A52A2A;
}
.attr-name, .attr-name > a > span {
    color: #2A2AA5;
}
.attr-value, .prop-value {
    font-weight: bold;
    font-size: 90%
}

/* Added to match new style sheet */
div.element-summary {
	border-color: #52A7E0;
	background: #E9F4FB;
}


div.element-summary {
	padding: .5em;
	border-left-width: .5em;
	border-left-style: solid;
	margin-top: 1em;
}


/*.element-summary { background: #d9e8ff; padding: 1em; margin-top: 1em }*/
.element-summary-name { float: right; font-size: 110% }
.element-summary-name dfn { font-style: normal; }
.element-summary dl, .element-summary dt { margin-top: 0; margin-bottom: 0; }
.element-summary * + dt { margin-top: 0.5em; }
.element-summary dd { margin-top: 0; }
.element-summary ul.no-bullets { list-style: none; margin-left: 0; padding-left: 0 }
.element-summary ul.no-bullets li { padding-left: 2em; text-indent: -2em; }
.expander { color: #888; text-decoration: underline; cursor: pointer; font-size: 85% }
.expander { }
.expander:active { color: #C00 }
.expander:hover { background: #ffa }
.expander:after { content: 'show »' }

.xgrammar { color: #A52A2A; font-family: monospace; font-size: 90% }

pre.idl, pre.dtd-fragment { color: black; padding: 1em; margin-top: 1em; margin-left: 0; font-size: 1em; overflow: auto; font-size: 14px }
pre.idl { background: #d9e8ff }
pre.idl a:link, pre.idl a:visited { color: black; }
pre.idl .comment { color: #005A9C; }

dl.interface dt {
  margin-top: 1em;
}

dl.interface dt.attribute,
dl.interface dt.constant,
dl.interface dt.operation {
  margin-top: 2em;
}

dl.interface dt.attribute,
dl.interface dt.constant,
dl.interface dt.operation,
dl.interface li.parameter,
dl.interface dt.exception {
  font-weight: normal;
  display: list-item;
}

dl.interface dt.attribute.first-child,
dl.interface dt.constant.first-child,
dl.interface dt.operation.first-child,
dl.interface li.parameter.first-child,
dl.interface dt.exception.first-child {
  margin-top: 0;
}

dl.interface dd.attribute,
dl.interface dd.constant,
dl.interface dd.operation,
dl.interface li.parameter,
dl.interface dd.exception {
  margin-top: 0.5em;
  margin-left: 0;
}

.idlattr, .idlattr:link, .idlattr:visited {
  background: #d9e8ff;
  color: black;
}

ol.parameters {
  list-style-type: disc;
  padding-left: 0;
  margin-left: 0;
}

var {
  font-style: italic;
}

sub {
  font-size: 80%;
}

dl.definitions > dt,
.adef-list dl > dt { margin-top: 1em; }

dl.definitions > dt + dt,
.adef-list dl > dt + dt { margin-top: 0; }

dl.definitions > dd > :first-child,
.adef-list dl > dd > :first-child { margin-top: 0; }

.adef { font-size: 14px }


/*
 * New attribute and property styles, to be renamed after all spec updated.
 */

.attrdef-list-svg2, .propdef-list-svg2 {

}

.attrdef-svg2, .propdef-svg2 {
    background: #E9F4FB;
    overflow: auto;
    margin-top: 2px;
}

.attrdef-svg2 dt, .propdef-svg2 dt {
    font-style:italic;
    font-weight:normal;
    float: left;
    clear: left;
    width: 8em;
    margin: 2px;
}

.attrdef-svg2 dt:after, .propdef-svg2 dt:after {
    content: ":"; 
}

.attrdef-svg2 dd, .propdef-svg2 dd {
    float: left;
    margin: 2px 0; /* Override default.css */
}

.attrdef-values dt, .propdef-values dt {
    font-weight: bold;
    font-size: 90%;
    margin-top: 2px;
}

/* Display the list of old editors in the Acknowledgements section similarly
   to how the current editors appear at the top of the document. */
ul.old-editor-list { list-style-type: none !important }
.authornote { font-size: 80% }

/* Override default.css to not capitalize chapters. */
ul.toc { text-transform: none }

/* Allow another level of toc. */
ul.toc ul ul ul { margin: 0 0 0 2.4em; font-style: normal; font-size: 85%; line-height: 1.53 }
ul.toc ul ul ul span.secno { margin-left: -10.6em }

/* The header/footer with links to next/previous chapter, etc. */
.header { background: #eee; padding: 0.5em; font-size: 85%; text-align: right }
.header.top { border-top: 1px solid #ccc; margin-bottom: 2em }
.header.bottom { border-bottom: 1px solid #ccc; margin-top: 2em }
.header .namedate { display: block; float: left }

/* The "Contents" header before a chapter's toc. */
h2.contents { font-size: inherit; color: black; font-weight: bold; margin: 2em 0 1em 0 }

/* Don't put space between minitoc entries. */
#minitoc + ul.toc > li { margin: 0.75em 0 }
#minitoc + ul.toc > li.no-num { margin: 1.5em 0 }

/* Put more space around the chapter dividers than there is around section
   headings. */
.chapter-divider { margin: 4em 0 }

/* An indented definition. */
.definition { margin-left: 2em; margin-top: 1em }

/* HTML-equivalent math for ATs. */
div[role="math"] > :last-child {
  position: absolute;
  width: 400px;
  left: -10000px;
  overflow: hidden;
}

/* A border to be used around images. */
.bordered { border: 1px solid #888; background-color: white }

dl.attrdef-list dl { margin-top: 1em }
dl.attrdef-list > dt { font-weight: normal }

/* Make issue and example counters work correctly. */
body { counter-reset: exampleno figure issue example; }

/*
 * Temporary styles for use only while the spec is in development:
 */

body {
    /* mark everything as not yet reviewed */
    background-color: #FFEEEE ! important;
}

body.ready-for-wg-review,
h1.ready-for-wg-review,
h2.ready-for-wg-review,
h3.ready-for-wg-review,
.ready-for-wg-review > h1,
.ready-for-wg-review > h2,
.ready-for-wg-review > h3,
div.ready-for-wg-review {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
}

h1.ready-for-wider-review,
h2.ready-for-wider-review,
h3.ready-for-wider-review,
.ready-for-wider-review > h1,
.ready-for-wider-review > h2,
.ready-for-wider-review > h3,
div.ready-for-wider-review {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
}

.svg2-requirement table { border-collapse: collapse; width: 100% }
.svg2-requirement table th { font-weight: normal; font-style: italic; padding-right: 1em; white-space: nowrap; width: 1px }
.svg2-requirement tr:first-child td,
.svg2-requirement tr:first-child th { font-weight: bold; font-style: normal; border-top: none }
.svg2-requirement table th, .svg2-requirement table td { text-align: left; vertical-align: baseline; border-top: 1px solid #D398E0; padding: 0.5em }

table.proptable tbody td:first-child { white-space: nowrap }
table.proptable tbody td .property { display: inline; font-weight: normal }
.proptable thead { border-bottom: 2px solid }
.proptable tbody { border-bottom: none }
.proptable tbody th:first-child,
.proptable tbody td[scope="row"]:first-child {
  border-right: 2px solid;
  border-top: 1px solid silver;
}
.proptable tbody td {
  border-top: 1px solid silver;
}
.proptable tbody th + td {
  min-width: 15em;
}

table.attrtable tbody td:first-child { white-space: normal }
.attrtable tbody td, .attrtable tbody th { vertical-align: baseline }
.attrtable thead th:first-child + th, .attrtable tbody th + td { text-align: left }

table > caption { caption-side: bottom }

table.PathDataTable { border-spacing: 2px; border-style: outset; border-width: 1px }
table.PathDataTable td,
table.PathDataTable th { padding: 5px; border-style: inset; border-width: 1px }
table.PathDataTable td > p:first-child { margin-top: 0; }

.colorpatch { width: 14px; height: 14px; border: 1px solid black; }

.eltdef { border-left: 0.5em solid #52A7E0 !important; background: #E9F4FB !important; }
.eltdef td > p:first-child { margin-top: 0 }
.eltdef th { white-space: nowrap }
.eltdef pre.idl { margin: 0; padding: 0; background: none }

/* Attribute definition tables */
table.propdef.attrdef { border-left-color: #888; border-left-width: 0; background-color: #eee; font-size: 90% }
table.propdef.attrdef th, table.propdef.attrdef td { border-bottom-color: #ccc }

table.propdef.attrdef th:first-child,
table.propdef.attrdef td:first-child { width: 16em; padding-left: 0 !important }

table.propdef.attrdef th:first-child + th,
table.propdef.attrdef td:first-child + td { width: auto }

table.propdef.attrdef th:first-child + th + th,
table.propdef.attrdef td:first-child + td + td { width: 6em }

table.propdef.attrdef th:first-child + th + th + th,
table.propdef.attrdef td:first-child + td + td + td { width: 6em; padding-right: 0 !important }

ol.algorithm ol {
  border-left: 1px solid #90b8de;
  margin-left: 1em;
}
ol.algorithm ol.algorithm {
  border-left: none;
  margin-left: 0;
}

/* HTML5-like switch statements. */
dl.switch > dd > ol.only {
  margin-left: 0;
}
dl.switch > dd > ol.algorithm {
  margin-left: -2em;
}
dl.switch {
  padding-left: 2em;
}
dl.switch > dt {
  text-indent: -1.5em;
  margin-top: 1em;
}
dl.switch > dt + dt {
  margin-top: 0;
}
dl.switch > dt:before {
  content: '\21AA';
  padding: 0 0.5em 0 0;
  display: inline-block;
  width: 1em;
  text-align: right;
  line-height: 0.5em;
}

table.vert {
  border-collapse: collapse;
  border-top: 2px solid #005a9c;
  border-bottom: 2px solid #005a9c;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
table.vert td {
  background: #f0f6ff;
}
table.vert th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #005a9c;
  white-space: nowrap;
  color: #d9e8ff;
  background: #005a9c;
}
table.vert.compact { font-size: 90% }
table.vert.compact td, table.vert.compact th { padding: 2px 8px }
table.vert th a:link,
table.vert th a:visited { color: #d9e8ff; }
table.vert th a:hover { color: black; }
table.vert th, table.vert td { padding: 0.5em 0.75em; }
table.vert th .attr-name { color: white }
table.vert th a:hover .element-name { color: #2A2AA5 }
table.vert th .prop-name { color: white }
table.vert th a:hover .element-name { color: black }
table.vert th .element-name { color: white }
table.vert th a:hover .element-name { color: #A52A2A }
table.vert td { vertical-align: top; border-top: 1px solid #005a9c; border-top-color: rgb(127, 172, 206) } 
table.offset { margin-left: 2em; margin-right: 2em; }
table.graph > tbody > tr > td { vertical-align: top }
table.graph > tbody > tr > td { padding-right: 1em }
.indented {
  margin-left: 2em;
}
.math var, .math sub, .math sup {
  font-family: serif;
}
.separated {
  word-spacing: 1em;
}

.definitions > dt > dfn { 
  font-style: normal; 
  font-weight: bold;
}

/* .self-link is a link to the element */
.heading, li, dt, .issue { position: relative; }
a.self-link {
  position: absolute;
  top: 0;
  left: -2.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  border: none;
  transition: opacity .2s;
  opacity: .5;
  text-decoration: none;
}
a.self-link:hover {
  opacity: 1;
}
.heading > a.self-link,
.issue > a.self-link {
  font-size: 83%;
}

.heading > a.self-link::before,
.issue > a.self-link::before { content: "§"; }
.issue > a.self-link { top: 0.625em; left: -4em; }

.syntax { font-weight: bold; font-size: 80%; }

.attrdef th { white-space: nowrap; }

p.issue:before, div.issue:before {
  content: "(Issue " counter(issue) ")";
}

p.issue[data-issue], div.issue[data-issue] {
  counter-increment: none;
}

p.issue[data-issue]:before, div.issue[data-issue]:before {
  content: "Issue " attr(data-issue);
}

p.issue + div.issue, div.issue + div.issue {
  margin-top: 1em;
}
