@import url(default_svg.css);

body, h1, h2, h3 {
    background-color: white ! important;
}

body.ready-for-wg-review,
h1.ready-for-wg-review,
h2.ready-for-wg-review,
h3.ready-for-wg-review,
.ready-for-wg-review > h1,
.ready-for-wg-review > h2,
.ready-for-wg-review > h3,
.ready-for-wg-review {
    background-color: white ! important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

p.annotation, div.annotation { display: none }
div.annotation.svg2-requirement { display: block }
