@import url(default_no_issues.css);

/* Conformance requirement */

.requirement {
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  border-left-width: 0.5em;
  border-left-style: solid;
  border-color: #007070;
  background: #A0E0E0;
}

.requirement:before {
  content: "Conformance requirement " attr(id);
  padding-right: 1em;
  color: #007070;
}

.requirement > p:first-child {
  margin-top: 0
}
